
  <div class="text-center">
    <h2>{{post_name}}</h2>
    <p>{{post_body}}</p>
    <p>Created by {{user.username}} on {{format_date createdAt}}</p>
    <p>
      <a href="../api/comments/{{id}}" class="btn btn-primary">Leave a comment!</a>
    </p>
    <p>
        {{post.comments.comment.comment_content}}
    </p>
  </div>

