<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <a href="/createPost">Create a New Post:</h3>

   
  </div>

  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current Posts:</h3>

    {{#each posts}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{id}}">{{post_name}}</a></h4>
        <button class="delete-post-btn btn btn-sm btn-danger" name="post_id" value="{{id}}" data-id="{{id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
<script src="./js/delete.js"></script>